  body {
    background-color: rgb(236, 240, 223);
  }
  
  h1 {
    color: rgb(33, 33, 120);
    text-align: center;
  }

  h2 {
    color: rgb(33, 33, 120);
    size: 11px;
    text-align: center;
  }

  p {
    color: rgb(33, 33, 60);
    margin: auto;
    text-align: center;
    width: 70%;
  }

  p2 {
    color: rgb(33, 33, 60);
  }

  /* img {
    text-align: center;
    object-fit: contain;
    aspect-ratio:4/3;
  } */

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container {
    display:flex;
    gap: 20px;
    justify-content:center;
  }

  .picbox {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .fleximg {
   width : 50%;
   height : 50%;
   gap: 10px;
   object-fit : contain;
   object-position: center;
  }

  .item {
    flex-basis: left;
    flex: .45;
  }

   .list {
    display:flex;
    gap: 20px;
    justify-content:center;
  }